.anchor {
  position: relative;
  background-color: black;
  width: 100%;
}
.anchorInvisible {
  position: relative;
}
.container {
  height: 100%;
  width: 100%;
  background-position: 50% 0%;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 9000020;
  background-image: url("../public/images/blackPaper.png");
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
}

.margin {
  min-height: 500px;
  width: 100%;
  background-image: url("../public/images/blackPaper.png");
  display: flex;
  align-items: flex-end;
  justify-items: center;
  position: relative;
}
.marginCrunched {
  min-height: 0px;
}
.titleMargin {
  position: absolute;
  top: 150px;
  left: 100px;
  font-size: 40px;
  background-color: black;
  color: white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  box-shadow: 5px 5px 35px darkgray;
  z-index: 4000;
}
.containerFade {
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.placeholder {
  min-height: 500px;
  transition: height 0.6s ease-in-out;
  background-image: url("../public/images/blackPaper.png");
}
.title {
  position: absolute;
  top: 150px;
  left: 100px;
  font-size: 40px;
  background-color: black;
  color: white;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  box-shadow: 5px 5px 35px darkgray;
  z-index: 4000;
}
.submitButton {
  background-color: #fcaf3b !important;

  width: 30%;
  height: 100px;
  font-size: 20px !important;
  position: absolute;
  left: auto;
  top: auto;
  border: none;
  font-weight: 700 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  box-shadow: 5px 5px 20px black;
  margin-top: 100px;
}
.submitButton:nth-child(2n) {
  animation: moveLeft 6s forwards;
  margin-top: 20px;
}
.submitButton:nth-child(2n-1) {
  animation: moveRight 6s forwards;
  margin-top: 20px;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80px);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80px);
  }
}
.text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  background-color: transparent;
  color: black;
  border-radius: 30px;
}
.subTextLeftContainer,
.subTextRightContainer {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  background-image: url("../public/images/whitePaper.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.8;
}
.subTextLeftContainer {
  justify-self: start;
  width: 50%;
  position: absolute;
  bottom: 250px;
}
.subTextRightContainer {
  justify-self: end;
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.subTextLeft,
.subTextRight {
  width: 80%;
}
.subTextTitle {
  background-color: black;
  color: white;
  padding: 20px;
  width: 250px;
  text-align: center;
  font-weight: 600;
  transition: all 0.5s ease;
  box-shadow: 5px 5px 20px black;
}

@media (max-width: 800px) {
  .submitButton {
    width: 180px;
    height: 50px;
    font-size: 12px !important;
  }

  .text {
    flex-wrap: wrap;
    width: 95%;
    padding: 0;
  }
  .title {
    width: 80%;
    height: 70px;
    z-index: 5;
    border-radius: 15px;
    top: 20px;
    left: 0;
  }

  .subTextTitle {
    width: 50%;
  }
  .subTextLeftContainer {
    margin-top: 30px;
  }
  .subTextLeftContainer,
  .subTextRightContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .subTextLeft,
  .subTextRight {
    width: 90%;
    padding: 0px 5px 0px 20px;
  }
}
