.container {
  min-height: 600px;
  height: 750px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  cursor: none;
  text-align: center;
  background-image: url("/images/whitePaper.jpg");
  background-size: cover;

  font-family: "Times New Roman", Times, serif;
  position: relative;
}
.image {
  position: absolute;
  bottom: -7px;
  z-index: 40000;
}
.letter1,
.letter2,
.letter3,
.letter4,
.letter5,
.letter6 {
  color: black;
  font-size: 160px;
  margin-left: 40px;
  transition: 0.4s all;
  transition-timing-function: cubic-bezier(0.2, -0.9, 0.5, 0);

  text-shadow: 1px 1px 3px black;
  background-color: transparent;
}
.letter2 {
  animation-delay: 1s;
}
.letter3 {
  animation-delay: 2s;
}
.letter4 {
  animation-delay: 3s;
}
.letter5 {
  animation-delay: 4s;
}
.letter6 {
  animation-delay: 5s;
  margin-right: 40px;
}
.upperContainer {
  margin-top: 100px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  position: relative;
}
.letterContainer {
  background-color: transparent;
  flex: 4;
  max-height: 300px;
  display: flex;
  align-items: center;

  box-shadow: 1px 1px 35px black;
}
.bottomBar {
  height: 5px;
  width: 100%;
  background-color: var(--sophiaBarColors);
}
.bottomBarBullet {
  height: 5px;
  width: 85px;
  background-color: var(--bulletColors);
  box-shadow: -5px 5px 5px black;
  animation: bottomBullet 12s infinite;
}
.topBar {
  height: 5px;
  width: 100%;
  background-color: var(--sophiaBarColors);
  z-index: 600;
}
.topBarBullet {
  height: 5px;
  width: 85px;
  margin-left: auto;
  background-color: var(--bulletColors);
  box-shadow: -5px 5px 5px black;
  animation: topBullet 12s infinite;
}
.rightBar {
  width: 5px;
  height: 100%;
  background-color: var(--sophiaBarColors);
}
.rightBarBullet {
  width: 5px;
  height: 80px;
  margin-bottom: auto;
  background-color: var(--bulletColors);
  box-shadow: -5px 5px 5px black;
  animation: rightBullet 12s infinite;
}

.leftBar {
  width: 5px;
  height: 100%;
  background-color: var(--sophiaBarColors);
  position: relative;
}
.leftBarBullet {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 80px;
  margin-top: auto;
  background-color: var(--bulletColors);
  box-shadow: -5px 5px 5px black;
  animation: leftBullet 12s infinite;
}
.subTextContainer {
  flex: 1;
  display: flex;
  height: 275px;
  flex-direction: row;
  align-items: flex-start;
  justify-items: flex-start;
}

.movingTextContainer {
  height: 275px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.unmovingTextContainer {
  margin-top: -132px;
  height: 275px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 3px;
}
.contactContainer {
  z-index: 100;
  position: absolute;
  bottom: -60px;
}
.contactButton {
  align-self: center;

  background: grey;
  padding: 20px;
  font-size: 25px;
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: 50%;
  box-shadow: 3px 3px 10px black;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}
.circleCursor {
  background-color: transparent;
  background-image: url("../public/images/owl.png");
  background-size: cover;
  border: 2px black solid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}
.circleLogo {
  background-color: transparent;
  background-image: url("../public/images/owl.png");
  background-size: cover;
  border: 2px black solid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.circleAnimate {
  animation: circleFade 6s forwards;
}
@keyframes circleFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.backgroundSquares {
  height: 20px;
  width: 20px;
  transition: background-color 3s ease;
}
.subText {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 600;
}
#subText1 {
  font-size: 25px;
  opacity: 0;
}
#subText0 {
  opacity: 0;
  animation-fill-mode: forwards;
}

.subText0Animate {
  animation: horizontalSubText 6s infinite;
}
.subText1Animate {
  animation: horizontalSubText 6s infinite;
}
.subText2Animate {
  animation: horizontalSubText 6s infinite;
}
.subText3Animate {
  animation: subText3Leave 4s infinite;
}
.horizontalTextContainer {
  display: flex;
  color: black !important;
  margin-top: -40px;
  width: 867px;
  justify-content: center;
}
.subTextPoint {
  width: 67px;
}
.mobileCircle {
  opacity: 0;
}

@media (max-width: 320px) {
  .unmovingTextContainer {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  .letter1,
  .letter2,
  .letter3,
  .letter4,
  .letter5,
  .letter6 {
    color: black;
    margin-left: 10px;
    font-size: 60px;
  }
  .mobileCircle {
    position: absolute;
    bottom: -5px;
    left: 130px;
    opacity: 1 !important;
  }
  .circleCursor {
    display: none;
  }
  .circleLogo {
    background-color: transparent;
    background-image: url("../public/images/owl.png");
    background-size: cover;
    border: 2px black solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
  }

  .image img {
    max-height: 130px;
  }
  .image {
    bottom: -6px;
  }

  .letter6 {
    margin-right: 20px;
  }
  .container {
    max-height: 500px;
  }
  .upperContainer {
    max-height: 170px;
    margin-top: -120px;
  }
  .subTextContainer {
    display: flex;
    max-height: 10px;
    align-items: flex-start;
    justify-items: flex-start;
  }
  .horizontalTextContainer {
    display: flex;
    color: black !important;
    margin-top: 0px;
    width: 100%;
  }
  .letterContainer {
    max-height: 150px;
    min-height: 0px;
    box-shadow: none;
  }
  .subText {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 3px;
  }
  #subText1 {
    opacity: 0;
    font-size: 13px;
  }

  .unmovingTextContainer {
    margin-top: -5px;
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    max-width: 200px;
    max-height: 220px;
    justify-self: flex-start;
    letter-spacing: 3px;
  }
  .movingTextContainer {
    align-items: flex-start;
    max-width: 100px;
    max-height: 200px;
    text-align: center;
  }
  .contactButton {
    margin-top: 25px;
    padding: 15px;
  }
  .contactContainer {
    position: absolute;
    bottom: -52px;
  }
  .topBarBullet {
    animation: topBulletMobile 12s infinite;
  }
  .bottomBarBullet {
    animation: bottomBulletMobile 12s infinite;
  }
  .leftBarBullet {
    animation: leftBulletMobile 12s infinite;
    height: 60px;
  }
  .rightBarBullet {
    animation: rightBulletMobile 12s infinite;
    height: 60px;
  }
  .subText0Animate {
    animation: horizontalSubText 6s infinite;
  }
  .subText1Animate {
    animation: horizontalSubText 6s infinite;
    animation-delay: 0s;
  }
  .subText2Animate {
    animation: horizontalSubText 6s infinite;
  }
  .subText3Animate {
    animation: subText3LeaveMobile 4s infinite;
  }

  @keyframes topBulletMobile {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(var(--sophiaWidthN));

      box-shadow: 5px 5px 5px black;
    }
    75% {
      transform: translateX(var(--sophiaWidthN));
    }
    100% {
      transform: translateX(0);

      box-shadow: -5px 5px 5px black;
    }
  }
  @keyframes bottomBulletMobile {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(var(--sophiaWidth));

      box-shadow: 5px 5px 5px black;
    }
    75% {
      transform: translateX(var(--sophiaWidth));
    }
    100% {
      transform: translateX(0);

      box-shadow: -5px 5px 5px black;
    }
  }
  @keyframes rightBulletMobile {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(90px);
    }
    75% {
      transform: translateY(90px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes leftBulletMobile {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-90px);
    }
    75% {
      transform: translateY(-90px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes subText0LeaveMobile {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }

    100% {
      transform: translateY(-15px);
      opacity: 0;
    }
  }
  @keyframes subText1LeaveMobile {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(0px);
    }
    85% {
      transform: translateY(-42px);
    }
    100% {
      transform: translateY(-42px);
    }
  }

  @keyframes subText2LeaveMobile {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    25% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-42px);
    }
  }
  @keyframes subText3LeaveMobile {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-42px);
      opacity: 1;
    }
  }
}
@keyframes horizontalSubText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rightBullet {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(220px);
  }
  75% {
    transform: translateY(220px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes leftBullet {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-220px);
  }
  75% {
    transform: translateY(-220px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes topBullet {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-783px);

    box-shadow: 5px 5px 5px black;
  }
  75% {
    transform: translateX(-783px);
  }
  100% {
    transform: translateX(0);

    box-shadow: -5px 5px 5px black;
  }
}
@keyframes bottomBullet {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(783px);

    box-shadow: 5px 5px 5px black;
  }
  75% {
    transform: translateX(783px);
  }
  100% {
    transform: translateX(0);

    box-shadow: -5px 5px 5px black;
  }
}

@keyframes subText0Leave {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
@keyframes subText1Leave {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-78px);
    font-size: 30px;
  }
  100% {
    transform: translateY(-78px);
    font-size: 25px;
  }
}

@keyframes subText2Leave {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(0px);
    font-size: 25px;
  }
  100% {
    transform: translateY(-78px);
    font-size: 30px;
  }
}
@keyframes subText3Leave {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-78px);
    opacity: 1;
  }
}

@keyframes fontSize {
  0% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes changeColor {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}
