.specialScroll {
  background-color: rgb(0, 0, 0);
  background-image: url("../public/images/whitePaper.jpg");
  max-height: 700px;
  min-height: 700px;
  min-width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.image {
  object-fit: cover;
  position: fixed !important;
  top: 0;
  left: 0;
}
@media (min-width: 801px) and (max-width: 1200px) {
  .specialScroll {
    margin-top: 75px;
    max-height: 600px;
    min-height: 600px;
  }
  .image {
    min-height: 1366px !important;
  }
}
@media (max-width: 801px) {
  .specialScroll {
    max-height: 600px;
    min-height: 600px;
  }
  .image {
    object-fit: none !important;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 800px !important;
    max-height: 800px !important;
  }
}
